p {
  font-family: 'Fira Sans', sans-serif;
}

li {
  font-family: 'Fira Sans', sans-serif;
}

.col-8 {

}

.col-4 {
  background-color: #1f191d; /* Matches the zebra picture */
}

.col-6 {
  background-color: #1f191d;
  color: #bee4ee;
  padding: 10px;
}

.jumbotron {
  background-image: url("zebra-stripes.jpg");
  padding: 100px;
  margin: 50px
}

.jumbotron h1 {
  color: #999999;
  font-family: 'Lobster', cursive;
}

.jumbotron h3 {
  color: #999999;
  font-family: 'Lobster', cursive;
}
